.query-box {
    border-radius: 10px;
}

.btn-standard {
    border-radius: 10px;
    margin: auto;
    margin-top: 1rem;
    display: block;
}

.container-left {
    width: 50%;
    float: left;
    overflow: auto;
}

.container-right {
    width: 50%;
    height: 50%;
    margin-left: 30%;
    margin-top: 3rem;
    float: right;
    position: fixed;
    overflow: auto;
}

.box {
    width: 50%;
    transform: translate(50%, 0);
    height: 100%;
    display: block;
    border-radius: 10px;
}